.home-page{ 
    height: 100%;
    width: 100vw;
 }

 .home-page h2{
    margin-bottom: 2rem;
    color: #001529;
 }

 .table{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);;
    width: 60%;
    padding: 20px;
 }

 .table th{
    padding: 10px;
    color: rgb(248, 248, 248);
    background-color: #001529;
 }

 .table td{
    padding: 10px;
    font-weight: 600;
 }

 tr{
      text-align: center;
 }