.results-table {
    width: 20%;
    border-collapse: collapse;
    max-height:500px;
    overflow-y: scroll;
    position: absolute;
    top: 60%;
    left: 50%;
  }
  
  .results-table table {
    width: 100%;
  }
  
  .results-table th,
  .results-table td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
  }
  
  .results-table th {
    background-color: #ffffff;
  }