h2{
    color: #001529;
}

h3{
    font-weight: 600;
}

.retest-requests-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    border-bottom: rgba(0, 21, 41, 0.1) 1px solid;
    margin: 10px 20px;
}