.approve-requests-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

h3{
    text-align: center;
    font-weight: 600;
}

h2{
    color: #051890;
}
